<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Veg Item</title>
</head>

<body>
    <form action="/admin/addVeg" method="POST">
        <label for="itemName">Name: </label>
        <input type="text" name="itemName">
        <label for="itemPrice">Price: </label>
        <input type="number" name="itemPrice">
        <button type="submit">Save</button>
    </form>
</body>

</html>